@font-face{
  font-family: "Onest";
  src: url("./assets/brand/fonts/Onest-Regular.ttf") format('ttf'), url("./assets/brand/fonts/Onest-Regular.woff") format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face{
  font-family: "Onest";
  src: url("./assets/brand/fonts/Onest-Medium.ttf") format('ttf'), url("./assets/brand/fonts/Onest-Medium.woff") format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face{
  font-family: "Onest";
  src: url("./assets/brand/fonts/Onest-Bold.ttf") format('ttf'), url("./assets/brand/fonts/Onest-Bold.woff") format('woff');
  font-weight: 700;
  font-style: normal;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

body {
  width: 100% ;
  background-color: #FFF;
}

button {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

img{
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

a,a:hover{
  text-decoration: none;
}

/* ================================= BRAND GAMES STYLES ========================== */

.brand {
  position: relative;
}

.brand-first {
  visibility: hidden;
  opacity: 0;
  transform: translateX(-100%);
  background-color: #d1ffc0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  font-family: "Onest", sans-serif;
  font-weight: 400;
  transition: visibility .25s, transform .25s linear, opacity .4s ease-in-out;
}
.brand-first_active {
  visibility: visible;
  transform: translateX(0);
  opacity: 1;
}
.brand-first_secret {
  visibility: visible;
  transform: translateX(100%);
}

.brand-first__circle-border {
  background-color: #FFF;
  border-radius: 0 0 35px 35px;
  padding: 24px 15px 23px 24px;
  margin-bottom: 42px;
}

.brand-first__logo {
  display: block;
  width: 141px;
  height: 33px;
  margin: 0 auto 35px auto;
}
.brand-first__title {
  color: #302E2D;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  margin-bottom: 14px;

}
.brand-first__games {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 11px;
}
.brand-first__game-full {
  background: #7A8EFE;
  border-radius: 20px;
  transition: opacity .24s linear;
}
.brand-first__game-full:hover {
  cursor: pointer;
  opacity: .7;
}
.brand-first__game-full_later:hover {
  cursor: initial;
  opacity: 1;
}
.brand-first__game {
  background-color: #FFF;
  position: relative;
  border: 1px solid #00000012;
  border-radius: 20px;
  padding: 5px 5px 28px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.brand-first__game-play {
  padding: 9px 0;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;
}
.brand-first__game-new {
  position: absolute;
  top: 15px;
  left: 16px;
  width: 50px;
}
.brand-first__game-img {
  width: 100%;
  margin-bottom: 12px;
}
.brand-first__game-title {
  color: #302E2D;
  font-size: 15px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  margin-bottom: 4px;
  text-align: left;
}
.brand-first__game-subtitle {
  color: #302E2D;
  opacity: .6;
  font-size: 11px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  max-width: 80%;
}

.brand-first__game-full_later {
  background: rgba(122, 142, 254, .1);
}

.brand-first__game-full_later .brand-first__game-img {
  opacity: .2;
}

.brand-first__game-full_later .brand-first__game-title {
  opacity: .6;
}

.brand-first__game-full_later .brand-first__game-subtitle {
  opacity: .3;
}

.brand-first__game-full_later .brand-first__game-play {
  color: #7A8EFE;
}

.brand-first__info {
  position: relative;
  padding: 0 15px 0 24px;
  margin-bottom: 50px;
}
.brand-first__info-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.brand-first__info-ellipse {
  position: absolute;
  right: 0;
  top: -78px;
  z-index: -1;
  width: 100%;
}
@media screen and (max-width: 415px) {
  .brand-first__info-ellipse{
    top: -60px;
  }
}
@media screen and (max-width: 360px) {
  .brand-first__info-ellipse{
    width: initial;
  }
}
.brand-first__info-blockquote {
  position: absolute;
  width: 102px;
  right: 2px;
  top: -40px;
  z-index: -1;
}
.brand-first__info-text {
  margin-bottom: 21px;
  color: #FFF;
  max-width: 80%;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

@media screen and (max-width: 415px) {
  .brand-first__info-text {
    max-width: 60%;
    padding-left: 13px;
  }
}
@media screen and (max-width: 370px) {
  .brand-first__info-text {
    width: 200px;
  }
}
.brand-first__info-button {
  position: relative;
  display: block;
  margin: 0 auto;
  border: none;
  outline: none;
  background-color: #FFF;
  border: 1px solid #302E2D;
  padding: 21px 7px;
  width: 296px;
  border-radius: 18px;
}
.brand-first__info-button:hover .brand-first__info-button-help{
  transform: translateY(6px);
}
.brand-first__info-button-text {
  color: #7A8EFE;
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
}
.brand-first__info-button-help {
  position: absolute;
  height: 64px;
  background-color: #FFF;
  border: 1px solid #302E2D;
  bottom: -6px;
  left: 0;
  right: 0;
  border-radius: 18px;
  z-index: -1;
  transform: translateY(0);
  transition: transform .24s linear;
}

.brand-first__release {
  background-color: #FFF;
  border-radius: 35px 35px 0 0;
  padding: 18px 17px 22px 18px;
}
.brand-first__release-content {
  position: relative;
  width: 100%;
  aspect-ratio: 325 / 345;
  background-color: #7A8EFE;
  border-radius: 30px;
  overflow: hidden;
}
.brand-first__release-city {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.brand-first__release-text {
  position: absolute;
  top: 29px;
  right: 25.5px;
}




.brand-second {
  visibility: hidden;
  opacity: 0;
  transform: translateX(100%);
  background-color: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  font-family: "Onest", sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  transition: visibility .25s, transform .25s linear, opacity .4s ease-in-out;
}
.brand-second_active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.brand-second__content {
  position: relative;
  padding: 24px 15px 30px 24px;
}
.brand-second__logo {
  display: block;
  width: 141px;
  height: 33px;
  margin: 0 auto 34px auto;
}
.brand-second__back {
  width: 18px;
  position: absolute;
  top: 31px;
  left: 24px;
  transition: opacity .24s linear;
}
.brand-second__back:hover {
  cursor: pointer;
  opacity: .85;
}
.brand-second__game-img {
  width: 100%;
  display: block;
  margin: 0 auto 7px auto;
}
.brand-second__title {
  margin-bottom: 12px;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #302E2D;
}
.brand-swiper .swiper-slide {
  width: fit-content !important;
}
.brand-swiper {
  overflow: visible !important;
}
.brand-second__swiper {
  margin-bottom: 29px;
}
.swiper-slide__img {
  width: 127px;
}
.achieve-swiper {
  overflow: visible !important;
  margin-bottom: 16px;
}
.achieve-swiper .swiper-slide {
  width: 115px;
  height: auto;
}
.swiper-slide__achieve {
  border: 1px solid #00000012;
  padding: 19px 0;
  background-color: #FFF;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3px;
  width: 100%;
  height: 100%;
}
.swiper-slide__achieve-img {
  width: 48px;
}
.swiper-slide__achieve-text {
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
}

.brand-second__subtitle {
  color: #302E2D;
  margin-bottom: 2px;
  font-size: 15px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}
.brand-second__game-description {
  color: #302E2D;
  font-family: Onest;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  opacity: 0.6;
}
.brand-second__play-btn {
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 10;
  border: none;
  outline: none;
  color: #FFFFFF;
  font-family: "Onest";
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  padding: 19px 0 18px 0;
  background-color: #7A8EFE;
  border-radius: 22px 22px 0 0;
  transition: opacity .24s linear;
}

.brand-second__play-btn:hover {
  opacity: .85;
  cursor: pointer;
}


/* .brand-secret {
  font-family: 'Onest';
  position: fixed;
  padding: 40px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateX(-100%);
  visibility: hidden;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  max-height: 100vh;
  background-color: #f2f4ff;
  transition: visibility .25s, transform .25s linear;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
.brand-secret_active {
  visibility: visible;
  transform: translateX(0);
}
.brand-secret__logo {
  width: 200px;
}
.brand-secret__text {
  color: #7A8EFE;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
} */

/* ============================ SNAKE GAME ================= */
.snake .container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: column wrap;
  justify-content: flex-start;
  align-items: center;
}
.snake #ui {
  display: flex;
  align-items: center;
  font-size: 10px;
  flex-flow: column;
  /* margin-left: 10px; */
}
.snake h2 {
  font-weight: 900;
  font-size: 10px;
  letter-spacing: 8px;
  /* margin-bottom: 30px; */
  transform: rotate(270deg);
}
.snake #score {
  margin-top: 20px;
  font-size: 30px;
  font-weight: 800;
  /* transform: rotate(-90deg); */
}
.snake .noselect {
  user-select: none;
}
.snake #replay {
  font-size: 10px;
  padding: 10px 20px;
  background: #6e7888;
  border: none;
  color: #222738;
  border-radius: 40px;
  font-weight: 800;
  transform: rotate(270deg);
  cursor: pointer;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
.snake #replay:hover {
  background: #a6aab5;
  background: #4cffd7;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
.snake #replay svg {
  margin-right: 8px;
}
@media (max-width: 600px) {
  .snake #replay {
    /* margin-bottom: 20px; */
  }
  .snake #replay,
  .snake h2 {
    transform: rotate(0deg);
  }
  .snake #ui {
    flex-flow: row wrap;
    margin-bottom: 20px;
  }
  .snake #score {
    margin-top: 0;
    margin-left: 20px;
  }
  .snake .container {
    flex-flow: column wrap;
  }
}
.snake #author {
  width: 100%;
  bottom: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: inherit;
  text-transform: uppercase;
  padding-left: 35px;
}
.snake #author span {
  font-size: 10px;
  margin-left: 20px;
  color: inherit;
  letter-spacing: 4px;
}
.snake #author h1 {
  font-size: 25px;
}
.snake .wrapper {
  padding: 10px 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100%;
  /* margin-bottom: 20px; */
}

.snake #controls {
  position: relative;
  width: 100%;
}

.snake .top-control {
  text-align: center;
  margin-bottom: 20px;
}

.snake .bottom-control {
  text-align: center;
  margin-top: 20px;
}

.snake .left-right-controls {
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.snake .controls__arrow {
  width: 60px;
}

.snake #ArrowUp {
  transform: rotate(-90deg);
}
.snake #ArrowDown {
  transform: rotate(90deg);
}
.snake #ArrowLeft {
  transform: rotate(180deg);
}
.snake #ArrowRight {
  
}

.snake .info-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.5);
  visibility: hidden;
  opacity: 0;
  z-index: 10;
  transition: visibility .24s, opacity .24s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}

.snake .info-page_active {
  visibility: visible;
  opacity: 1;
}

.snake .info-page__content {
  background-color: #222738;
  color: #6e7888;
  box-sizing: border-box;
  padding: 40px 20px;
  width: 70vw;
  /* min-height: 50vh; */
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 15px;
  flex-direction: column;
}

.snake .info-page__text {
  text-align: center;
}

.snake .info-page__button {
  font-size: 10px;
  padding: 10px 20px;
  background: #6e7888;
  border: none;
  color: #222738;
  border-radius: 40px;
  font-weight: 800;
  cursor: pointer;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
-webkit-tap-highlight-color: transparent;
}

.snake .info-page__button:hover {
  background: #4cffd7;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.snake .info-pc__text {
  text-align: center;
}

.snake .settings-btn {
  /* padding: 5px; */
  background: #6e7888;
  border: none;
  color: #222738;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.snake .settings-btn:hover {
  background: #4cffd7;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.snake .settings-btn__image {
  display: block;
  width: 40px;
}

.snake .wrapper__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  /* margin-bottom: 10px; */
}

.snake .settings-page {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
  opacity: 0;
  background-color: #222738;
  transition: visibility .24s, opacity .24s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  flex-direction: column;
}

.snake .settings-page_active {
  opacity: 1;
  visibility: visible;
}

.snake .settings-page__block {
  font-size: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 100%;
}

.snake .select-wrapper {
  width: 100%;
}

.snake .settings-page__button {
  margin-top: 40px;
  font-size: 17px;
  padding: 10px 20px;
  background: #6e7888;
  border: none;
  color: #222738;
  border-radius: 40px;
  font-weight: 800;
  cursor: pointer;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.snake .settings-page__button:hover {
  background: #4cffd7;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}

.snake .settings-page__close {
  position: absolute;
  top: 30px;
  right: 30px;
}

.snake .settings-page__close:hover {
  cursor: pointer;
}

.snake .settings-page__close-img {
  width: 40px;
}

.snake .settings-page__select {

}
.snake .select {
  display: block;
vertical-align: top; 
margin: 0 auto;
max-width: 245px;
  width: 100%;
}

.snake .select-wrap {
max-width: 700px;
width: 100%;
margin: 20px auto;
}

.snake .select-wrap select {
margin: 20px;
}

.snake .settings-page__block p {
  font-size: 22px;
}

.snake .select__gap {
background: transparent;
color: #6e7888;
  border: 1px solid #6e7888;
/* text-transform: uppercase; */
font-size: 20px;
padding: 10px 15px;
cursor: pointer;
position: relative;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}

.snake .select__list {
background: transparent;
  border: 1px solid #6e7888;
margin: 0px 0;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

.snake .select__list.on {
display: block;
}

.snake .select__item span {
display: block;
padding: 10px 15px;
cursor: pointer;
font-size: 20px;
  /* color: #333; */
}

.snake .select__item.selected,
.snake .select__item span:hover {
/* color: #467797; */
}

.snake ul, .snake li {
  padding: 0;
  list-style: none;
}

.snake .select__gap:after {
content: '';
display: block;
/* width: 10px;
height: 10px; */
position: absolute;
right: 15px;
top: 50%;
margin-top: -7px;
border-left: 7px solid transparent;
border-right: 7px solid transparent;
border-top: 14px solid #6e7888;

-webkit-transition: all .27s ease-in-out;
     -o-transition: all .27s ease-in-out;
        transition: all .27s ease-in-out;

-webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
     -o-transform: rotate(0deg);
        transform: rotate(0deg);
}

.snake .on.select__gap:after {
-webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
     -o-transform: rotate(180deg);
        transform: rotate(180deg);
}

.snake .settings-page__color-input {
  padding: 15px 10px;
  border: 1px solid #6e7888;
  color: #6e7888;
  border-radius: 10px;
  background-color: #222738;
  outline: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.snake .settings-page__color-input::placeholder {
  font-size: 20px;
  color: #6e7888;
}

.snake {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-100%);
  transition: visibility .25s, transform .25s linear, opacity .4s ease-in-out;
  font-family: "Poppins", sans-serif;
  color: #6e7888;
  background-color: #222738;
}
.snake #canvas-snake {
  background-color: #181825;
}
.snake_active {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}

.snake .snake__back {
  width: 18px;
  position: absolute;
  top: 31px;
  left: 24px;
  transition: opacity .24s linear;
}
.snake .snake__back:hover {
  cursor: pointer;
  opacity: .85;
}

/* ==================== PUZZLE GAME ================= */


@font-face{
  font-family: "Jura";
  src: url("./assets/puzzle/fonts/Jura-Regular.woff") format('woff'), url("./assets/puzzle/fonts/Jura-Regular.ttf") format('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: "Jura";
  src: url("./assets/puzzle/fonts/Jura-Bold.woff") format('woff'), url("./assets/puzzle/fonts/Jura-Bold.ttf") format('ttf');
  font-weight: 700;
  font-style: normal;
}

.puzzle .first-page {
  position: absolute;
  visibility: hidden;
  /* opacity: 0; */
  transform: translateX(-100%);
  background-color: #1a759f;
  padding: 20px;
  width: 100%;
  height: 100vh;
  transition: visibility .24s, transform .24s linear;
}

.puzzle .first-page_active {
  visibility: visible;
  /* opacity: 1; */
  transform: translateX(0%);
}

.puzzle .first-page__content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}
.puzzle .first-page__img {
  width: 100px;
  margin-bottom: 40px;
  animation: animate_rotate 2s infinite;
}
.puzzle .first-page__title {
  font-size: 32px;
  color: #FFF;
  font-weight: 700;
  margin-bottom: 15px;
}
.puzzle .first-page__subtitle {
  color: rgb(26, 117, 159);
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 10px;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  animation: animate_pulse 1.25s infinite;
}

.puzzle .first-page__subtitle:hover {
  cursor: pointer;
}

@keyframes animate_pulse {
	0% {
		box-shadow: 0 0 0 0 rgb(255, 254, 254);
	}
	60% {
		box-shadow: 0 0 0 10px rgb(26, 117, 159);
	}
	100% {
		box-shadow: 0 0 0 0 rgb(255, 255, 255);
	}
}

@keyframes animate_rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.puzzle .first-page__tooltip {
  padding-top: 30px;
  font-size: 18px;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: visibility .24s, opacity .24s linear;
}

.puzzle .first-page__tooltip_active {
  opacity: 1;
  visibility: visible;
}

/* ======================== SECOND-PAGE =========================== */

.puzzle .second-page {
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* opacity: 0; */
  overflow-x: hidden;
  overflow-y: scroll;
  transform: translateX(100%);
  background-color: #1a759f;
  width: 100%;
  min-height: 100vh;
  transition: visibility .24s, transform .24s linear;
}

.puzzle .second-page_active {
  visibility: visible;
  /* opacity: 1; */
  transform: translateX(0%);
}

.puzzle .second-page__block-blue {
  padding: 0 20px;
}

.puzzle .second-page__img {
  width: 35px;
  position: absolute;
  top: 10px;
  right: 10px;
  animation: animate_rotate 2s infinite;
}

.puzzle .second-page__title {
  font-size: 30px;
  color: #FFF;
  font-weight: 700;
  text-align: center;
  margin-top: 85px;
  margin-bottom: 35px;
}

.puzzle .second-page__subtitle {
  font-size: 20px;
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
}

.puzzle .second-page__block-white {
  background-color: #FFF;
  color: #1a759f;
  padding: 0 20px;
  animation: animate_pulse 3s infinite;
}

.puzzle .second-page__choose-title {
  font-size: 30px;
  text-align: center;
  padding-top: 15px;
  margin-bottom: 20px;
  font-weight: 700;
}

.puzzle .second-page__choose-text {
  font-size: 20px;
  text-align: center;
  padding-bottom: 20px;
}

.puzzle .second-page__button {
  margin: 35px auto;
  color: rgb(26, 117, 159);
  padding: 10px 20px;
  background-color: #fff;
  width: 90%;
  border-radius: 10px;
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: .25;
  transition: opacity .24s linear;
}

.puzzle .second-page__button_active {
  opacity: 1;
}

.puzzle .second-page__collections {
  margin-top: 35px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  gap: 15px;
}
.puzzle .second-page__item {
  background-color: #fff;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border: 4px solid white;
  transition: border-color .3s linear;
}
.puzzle .second-page__item_active {
  border-color: midnightblue;
}
.puzzle .second-page__item-text {
  margin-top: 10px;
  font-size: 15px;
  color: #1a759f;
  font-weight: 700;
  text-transform: uppercase;
}
.puzzle .second-page__item-img {
  display: block;
  border-radius: 10px;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

.puzzle .second-page__collections-text {
  font-size: 29px;
  color: #FFF;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}

/* ===========================  MAIN-PAGE ==================== */

.puzzle .main-page {
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  visibility: hidden;
  opacity: 0;
  background-color: #1a759f;
  transition: visibility .24s, opacity .24s linear;
}

.puzzle .main-page_active {
  visibility: visible;
  opacity: 1;
}

.puzzle #canvas-puzzle {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

.puzzle .main-page__next {
  opacity: .3;
  font-size: 25px;
  color: rgb(26, 117, 159);
  background-color: #FFF;
  padding: 5px 15px;
  border-radius: 10px;
  margin: 35px auto;
  box-sizing: border-box;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .3s linear;
}

.puzzle .main-page__next_active {
  opacity: 1;
}

.puzzle {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transform: translateX(-100%);
  transition: visibility .25s, transform .25s linear, opacity .4s ease-in-out;
  font-family: "Poppins", sans-serif;
  color: #6e7888;
  background-color: #222738;
}

.puzzle_active {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}